@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #070d1e;
  --foreground: #f8fafc;
}

body {
  background-color: #070d1e;
  color: #f8fafc;
  font-family: inherit;
}
